<form>
    Taking a Full Rest? You will recover {{subtract system.health.max system.health.value}} {{actor.system.health.max}} Health and {{subtract system.spirit.max system.sprit.value}} Spirit.
</form>