<div class="storyforge">

    <div class="roll-container" style="margin-top: 0;">
        <div class="chat-bg-img"></div>

        <div class="chat-header">
            <div class="roll-title">{{action}}</div>
            {{#if subtitle}}<div class="roll-subtitle">{{subtitle}}</div>{{/if}}
        </div>


        {{#if description}} <div class="roll-desc"> {{{description}}} </div> {{/if}}
    </div>
</div>